body {
	width:100%;
	}

h1{font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 30px;
display: block;
margin-bottom: 10px;
}
h2{font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
}
p{
    
}
#contenido{
    padding-left:20px;
    padding-top: 20px;
}